.App-header {
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer-container {
  display: flex;
  justify-content: center;
}

.footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 30px;
}